*{
    padding: 0;
    margin: 0;
}
html, body{
    height: 100%;
}
img {
    height: 250px;
}

section{
    height: 100%;
}

.center-choice {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.choice {
    padding: 10px;
    border-radius: 10px;
    border: 5px rgba(122, 72, 187, 0.589) solid;
    background-color: white;

}

.animation-gone-center {
    animation-name: example;
    animation-duration: 7s;
}

@keyframes example {
    0%   {background-color: red;}
    17%  {background-color: orange;}
    32%  {background-color: yellow;}
    47% {background-color: limegreen;}
    62% {background-color: cyan; }
    77%{background-color: purple;  }
    100%{transform: rotate(360deg);}
  }





.battle{
    height: 50px;
    width: 800px;
    background-color: #7CFC00;
}


